<!Doctype Html>  
    <Html>     
        <Head>      
            <Title>     
                Navigation Bar  
            </Title>  
        </Head>  
        <Body>   
        <header>  
            <nav>  
                <ul>  
                <li>  
                    <a 
                    class="nav-link"
                    aria-current="page"
                    routerLink="home"
                    routerLinkActive="active">Home</a>
                </li>   
                <li>  
                    <a class="nav-link" routerLink=" "> About </a>  
                </li>  
                <li>  
                    <a class="nav-link" routerLink=" "> Contact </a>  
                </li>  
                <li>
                    <a class="nav-link" routerLink=" "> Terms of use </a>  
                </li>  
                <li>  
                    <a 
                    class="nav-link"
                    aria-current="page"
                    routerLink="joinus"
                    routerLinkActive="active">Join Us</a>
                </li>  
                </ul>  
            </nav>  
        </header>  
        <br>
        
            <router-outlet></router-outlet>
        </Body>   
    </Html>  

